header {
    padding: 2em 0.5em;
    display: flex;
   
    flex-direction: column;
   
    background-color: #ffffff;
    color: black;
    padding: 0px;

}

header h1 {
    font-size: 30px;
    color: #32315B;
}
header h2{
    margin-top: -20px;
    font-size: 18px;
    color: #32315baa;
}