header {
    padding: 2em 0.5em;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    background-color: #ffffff;
    color: black;
    padding: 0px;

}

header h1 {
    font-size: 30px;
    color: #32315B;
}
header h2{
    font-size: 18px;
    color: #32315baa;
}