.cardsContainer{
    width: 600px;
    height: 200px;
        top: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #888;
        padding-bottom: 25px;
    }

    .card-container{
      padding: 10px;
      left: 30px;
      width: 192px;
      height: 205px;
      border-bottom: 1px solid #eaeaea;
      display: flex;
      flex-direction: column;
      padding-bottom: 25px;
      font-family: hind,simhei,verdana,Helvetica,sans-serif;
      margin-left: 15px;
      margin-bottom: 15px;
      background-color: #ffffff ;
    }

    @media (max-width: 762px) {
        .card-container{
            padding: 10px;
            left: 30px;
            width: 100px;
            height: 113px;
            border-bottom: 1px solid #eaeaea;
            display: flex;
            flex-direction: column;
            padding-bottom: 25px;
            font-family: hind,simhei,verdana,Helvetica,sans-serif;
            margin-left: 15px;
            margin-bottom: 15px;
            background-color: #ffffff ;
        } }



   /*  width: "192px", paddingBottom: "25px",
    fontFamily:"hind,simhei,verdana,Helvetica,sans-serif",
    height:"205px", marginLeft: "15px", marginBottom: "15px",
    display: "flex", flexDirection: "column",
    backgroundColor: "#ffffff */
