/**Card-promotion content**/
.promotion-cont{
    width: 1205px;
    height: 220px;
    display: flex;
    background: #f4f4f4;
    flex-direction: row;
    margin-left: 168px;
}
.cards-promotion {
    width: 1132px;
    height: 212px;
    display: flex;
    background: #f4f4f4;
    flex-direction: column;
    flex-wrap: wrap;
    background: #f4f4f4;
    padding-bottom: 0px;
    overflow-x: auto;
    overflow-y: hidden;

}

.card-promotion {
    width: 320px;
    padding-right: 15px;
    height: 205px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/**Hovers for Card promotion*/

.card-promotion:hover .information-cont {
    width: 320px;
    height: 205px;
    color: #000;
    font-family: 'Hind', sans-serif;
    z-index: 40;
    margin: auto;
    margin-top: 2px;
    background-color: #ffffffcd;
}

.card-promotion:hover .information-cont h1 {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.information-cont {
    position: absolute;
    width: 305px;
    height: 220px;
    color: transparent;
    font-family: 'Hind', sans-serif;
    z-index: 40;
   margin-right: 60px;
    background-color: transparent;
}


.promotion-tittle {
    position: relative;
    color: #000;
    font-size: 21px;
    height: 25px;
    text-align: center;
    width: 175px;
    font-family: 'Hind', sans-serif;
    left: 12px;
    margin-bottom: 0px;
    z-index: 10;
    line-height: 24px;
    padding-top: 0px;
    text-align: left;
    font-weight: bolder;
}

@media (min-width: 762px) {}

.promotion-tittle {
    display: none;
}



/**Card-promotion content**/

.information-cont h1 {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 0px;
}

.information-cont p {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.promotion-img {
    width: 320px;
    height: 205px;
    margin-top: 2px;
}

.my-promotion {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    height: 40px;
    line-height: 24px;
    padding-top: 36px;
    text-align: center;
    width: 1180px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Hind', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

/**Scroll**/

.cards-promotion::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}

.right-button {
    height: 40px;
    width: 40px;
    margin: auto;
    z-index: 40;
}

.right-button button {


    background-color: #f4f4f4;

    height: 40px;
    width: 40px;
    margin: auto;
    border: none;
}

.right-button img {
    height: 30px;
    width: 30px;
    margin-left: -7px;
    transform: rotate(270deg);
}

.left-button {
    height: 40px;
    width: 40px;
    margin: auto;
}

.left-button button {

    z-index: 40;
    background-color: #f4f4f4;
    height: 40px;
    width: 40px;
    margin: auto;
    border: none;
}

.left-button img {
    height: 30px;
    width: 30px;
   margin: auto;
    transform: rotate(90deg);
}


@media (max-width: 762px) {

    .promotion-img {
        width: 360px;
        height: 210px;
        margin-top: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .promotion-cont{
        width: 380px;
        height: 220px;
        display: flex;
        background: #ffffff;
        flex-direction: row;
        margin-left: 168px;
        margin-left: 5px;
        border-top-right-radius: 5px;
    }

    .cards-promotion {
        width: 390px;
        height: 280px;
        display: flex;
        background: transparent;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 25px;
    }

    .card-promotion {
        width: 380px;
padding: 0px;
        margin-right: 10px;
        height: 280px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #f4f4f4;
        border-radius: 5px;
    }


    .left-button {
        display: none;
    }

    .right-button {
        display: none;
    }

    .my-promotion {
        display: none;
    }



    .information-cont {
        position: absolute;
        width: 292px;
        height: 220px;
        color: transparent;
        font-family: 'Hind', sans-serif;
        z-index: 40;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: transparent;
    }

}