.soul{
    margin-top: -50px;
    z-index: 7;
    width: 10px;

}

.all{
    background-image: linear-gradient(360deg, rgba(255, 1, 1, 0.401), rgba(77, 2, 2, 0.418));;
   width: 400px;
   margin-top: 200px;
   border-color: brown;
   margin-left: 550px;
   position: absolute;
}

.healthup{
    border-radius: 50%;
    background-image: url(../../img/Soul.png);
    background-position: center;
    background-size:100px;
}

.healthdown{
    border-radius: 50%;
    background-image: url(../../img/Caco.png);
    background-position: center;
    background-size:45px;
    
   
   
}

.body{
    background-image: url(../../img/V1.jpg);
    background-size:cover;
    margin-left: -100px;
    width: 195vh;
    height: 700px;
    margin-top: -60px;
    z-index: 6;
    
   
}

.reset{
    background-color: brown;
    margin-left: 55px;
    margin-top: 650px;
    position: absolute;
}
