.todo-cont {
    background-color: beige;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.task-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: black;
}

.span-todo {
    border: rgb(205, 103, 103);
    background-color: blue;
    width: 25px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
}

.close-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check-container{
    cursor: pointer;

}