.Banner {
    height: 420px;
    z-index: 50;
    top: 230;
    margin-top: 40px;
    margin-left: 22%;}


    .Background {
      width: 0px;
  }

  @media (min-width: 600px) {
    .Background {
    height: 500px;
    left: -20px;
    margin-top: -470px;
    top: -200;
    z-index: 45;
    width: 1503px;
  } }