.Banner {
    height: 420px;
    z-index: 50;
    top: 230;
    margin-top: 40px;
    margin-left: 22%;}

    @media (max-width: 762px) {
      .Banner {
        display: none;
    } }



    .carousel-container{
      height: 500px;
    width: 1503px;
    height: 500px;
    background-image: url("https://webtoons-static.pstatic.net/image/pc/home_bg004.jpg");
    }

    @media (max-width: 762px) {
      .carousel-container{
        margin-top: -98px;
        background-image: url("https://assetsio.reedpopcdn.com/Everdate.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp");
        height: 360px;
        width: 105%;
        margin-left: -8px;
        margin-right: -15px;
      } }


.announced-container{

  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 390px;
 padding-top: 290px;



}

.update-cont{
  color: #00dc64 ;
  font-family: hind,simhei,verdana,Helvetica,sans-serif;
  font-size: 15px;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

}

.genre-cont{
  color: #ffffff ;
  font-family: hind,simhei,verdana,Helvetica,sans-serif;
  font-size: 15px;
  background-color: black;
  padding: 5px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

}

    .Background {
      height: 500px;
      left: -20px;
      margin-top: -470px;
      top: -200;
      z-index: 45;
      width: 1503px;
  }


  /** Mobile image*/


  @media (max-width: 762px) {
    .Background {
      display: none;

  } }

  @media (min-width: 762px) {
    .announced-container{
      display: none;

  } }




