/**Card-promotion content**/
.promotion-cont {
    width: 1205px;
    height: 220px;
    display: flex;
    background: #f4f4f4;
    flex-direction: row;
    margin-left: 150px;
}

.cards-promotion {
    width: 1132px;
    height: 212px;
    display: flex;
    background: #f4f4f4;
    flex-direction: column;
    flex-wrap: wrap;
    background: #f4f4f4;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow-x: auto;
    overflow-y: hidden;

}

.card-promotion {
    width: 320px;
    padding-right: 15px;
    height: 205px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.promotion-tittle {
    position: relative;
    color: #000;
    font-size: 21px;
    height: 25px;
    text-align: center;
    width: 175px;
    font-family: 'Hind', sans-serif;
    left: 12px;
    margin-bottom: 0px;
    z-index: 10;
    line-height: 24px;
    padding-top: 0px;
    text-align: left;
    font-weight: bolder;
}

@media (min-width: 762px) {}

.promotion-tittle {
    display: none;
}


/**Card-promotion content**/

.information-cont h1 {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 10px;
    margin-bottom: 0px;
}

.information-cont p {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.promotion-img {
    width: 320px;
    height: 205px;
    margin-top: 2px;
}

.my-promotion {
    color: #000;
    font-size: 22px;
    font-weight: 500;
    height: 40px;
    line-height: 24px;
    padding-top: 36px;
    text-align: center;
    width: 1180px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Hind', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

/**Scroll**/

.cards-promotion::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
}

.right-button {
    height: 40px;
    width: 40px;
    margin: auto;
    z-index: 40;
}

.right-button button {


    background-color: #f4f4f4;

    height: 40px;
    width: 40px;
    margin: auto;
    border: none;
}

.right-button img {
    height: 30px;
    width: 30px;
    margin-left: -7px;
    transform: rotate(270deg);
}

.left-button {
    height: 40px;
    width: 40px;
    margin: auto;
}

.left-button button {

    z-index: 40;
    background-color: #f4f4f4;
    height: 40px;
    width: 40px;
    margin: auto;
    border: none;
}

.left-button img {
    height: 30px;
    width: 30px;
    margin: auto;
    transform: rotate(90deg);
}


@media (max-width: 762px) {

    .promotion-img {
        width: 345px;
        height: 208px;
        margin: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        z-index: 20;
    }

    .promotion-cont {
        width: 380px;
        height: 310px;
        display: flex;
        background: #ffffff;
        flex-direction: row;
        padding-top: 0px;
        padding-bottom: 15px;
        margin-left: 2px;
        border-top-right-radius: 5px;
    }

    .cards-promotion {
        width: 100%;
        height: 295px;
        display: flex;
        background: transparent;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        padding-top: 18px;
    }

    .card-promotion {
        width: 345px;
        padding: 0px;
        margin-right: 16px;
        height: 320px;
        z-index: 20;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: #f4f4f4;
        border-radius: 5px;
    }

    .left-button {
        display: none;
    }

    .right-button {
        display: none;
    }

    .my-promotion {
    color: #000;
    font-size: 22px;
    width: 100px;
    font-weight: 500;
    height: 25px;
    padding: 18px 0px 0px 0px;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-family: 'Hind', sans-serif;
    line-height: 24px;
    text-align: left;
    }

    .information-cont{
        height: 290px;
    }

    .information-cont h1 {
        width: 345px;
        font-size: 19px;
        font-weight: bolder;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
        font-family: hind, simhei, verdana, Helvetica, sans-serif;
    }

    .information-cont p {
        width: 320px;
        height: 30px;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
        font-family: hind, simhei, verdana, Helvetica, sans-serif;
    }
}