:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header h1:hover {
  color: #00dc64;
  font-weight: 550;
}

body{
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  z-index: 80;
}
.cardsContainer{

width: 600px;
height: 200px;
    top: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #888;
    padding-bottom: 25px;
}

.cardContainer{
  padding: 10px;
  left: 30px;
  width: 100px;
  height: 200px;
  border-bottom: 1px solid #eaeaea;

}


/*Footer*/
footer{
  position: sticky;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  z-index: 100;
  max-width: 100vw;
  height: 8vh;

}

@media (min-width: 762px) {
  footer{
     display: none;
  }
}

footer h1{
  font-size: 21px;
  font-weight: 700px;
    height: 60px;
    width: 120px;
margin-top: 20px;
font-family: 'Hind', sans-serif;

}

footer h1:hover {
  color: #00dc64;
  font-weight: 550;

}

#app {
  display: flex;
  flex-direction: column;

}


.read-the-docs {
  color: #888;
}


:root{
  background-color: #f4f4f4;;

}

@media (max-width: 762px) { /*! aqui solo movil */
  :root {
    color: #213547;
    background-color: white;
  }
}

