header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
  width: 105%;
  height: 99px;
  margin-top: -10px;
}

/** Options container */

.options {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
  width: 630px;
  font-size: 20px;
  font-weight: 700;
}

li {
  list-style: none;
  margin-left: 13px;
  color: #000;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
}

li:hover {
  color: #00dc64;
  font-weight: 550;

}

.li-style {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 20px;
  margin-top: 40px;

}

/** Buttons container, h1 and h2  */
.button-container {
  height: 90px;
  margin-left: 90px;
  display: flex;
  flex-direction: row;
  margin-Top: 16px;
}

.button-container h1 {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 50px;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
  color: rgb(0, 220, 100);
  margin-top: 25px;
}


.button-container h2 {
  font-size: 18px;
  font-weight: bolder;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  height: 50px;
  margin-top: 22px;
  color: #000;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
}

button {
  margin-top: 20px;
}

.publish-button {
  background: #2f2f2f;
  border-radius: 17px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 33px;
  width: 104px;
  margin-left: 13px;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
}


.user-button {
  background-color: #ffffff;
  border-radius: 17px;
  color: #838383;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #b4b4b4;
  line-height: 31px;
  height: 33px;
  width: 104px;
  margin-left: 7px;
  font-family: hind, simhei, verdana, Helvetica, sans-serif;
}

.Banner {
  height: 420px;
  z-index: 300;
  top: 230;
  margin-top: 40px;
  margin-left: 42px;
}


.Background {
  width: 0px;
}

@media (min-width: 600px) {
  .Background {
    height: 500px;
    left: -20px;
    top: -200;
    z-index: 50;
    width: 1540px;
  }
}

.bookIcon {
  width: 22px;
  height: 19px;
  margin-right: 7px;
  padding-top: 3px;

}

/** Len Icon and burguer menu */

.len-button {
  background-color: #ffffff96;
  border-radius: 50%;
  border: 1.5px solid #b4b4b4;
  height: 36px;
  width: 36px;
  margin-left: 30px;
}

.len-icon {
  margin-left: -6px;
  margin-top: -1px;
  width: 34px;
  height: 34px;
}

.Logo {
  margin-left: 15px;
  height: 100px;
  width: 97px;
  top: 2px;
}



/** Mobile Design*/

@media (max-width: 762px) {
  header {
    background-color: none;
    width: 100%;
  }
}

@media (max-width: 762px) {
  .options {
    display: none;
  }
}


@media (max-width: 762px) {
  .publish-button {
    display: none;
  }

  .user-button {
    display: none;
  }
}

@media (max-width: 762px) {
  .button-container h2 {
    display: none;
  }

  .button-container h1 {
    display: none;
  }
}

@media (max-width: 600px) {
  .len-button {
    background-color: #e9e4e4;
    border: 1.5px solid #e9e4e4;
    margin-left: 340%;
  }
}

/**Burguer menu**/

.hamburger-menu{
  position: relative;
  left: 160px;
  border-radius: 5px;
  background-color: #ffffff96;
  border: 1.5px solid #ffffff96;
  height: 40px;
  width: 45px;
}

.hamburger-menu:hover{
  background-color: #ffffffbc;
}

.mobile-design{
  background-color: #ffffff;
  position: relative;
  top: 20px;
  left: -100px;
}

@media (min-width: 600px) {
.hamburger-menu{
  display: none;
}}




