.cardsContainer2{

    width: 600px;
    height: 200px;
        top: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #888;

        border-top: 1px solid #e5e5e5;
    }

    .cardContainer2{
      padding: 10px;

      left: 30px;
      width: 100px;
      height: 200px;
      border-bottom: 1px solid #eaeaea;
    }

    .info-genre{
        color: #fff;
        bottom: 15px;
        height: 169px;
    left: 21px;
    top: 21px;
    width: 168px;
    margin: 20px;
    }

    .info-genre strong{
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    }

.info-genre p{
    font-size: 16px;
    margin-top: 110px;
    font-weight: 500;
    line-height: 20px;
}

.info-genre em{
    margin-left: 95px;
}

.main-genre{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    height: 45px;
    line-height: 24px;
    padding-top: 36px;
    text-align: center;
    width: 1150px;
    margin: 0px;
    font-family: 'Hind', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}


